// Microsoft Visual C++ generated resource script.
//
#pragma code_page(1254)

#ifndef IDC_STATIC
#define IDC_STATIC          -1
#endif
#define DS_SETFONT          0x40L
#define DS_FIXEDSYS         0x0008L
#define WS_POPUP            0x80000000L
#define WS_CHILD            0x40000000L
#define WS_CAPTION          0x00C00000L
#define WS_SYSMENU          0x00080000L
#define WS_THICKFRAME       0x00040000L
#define WS_TABSTOP          0x00010000L
#define WS_GROUP            0x00020000L
#define BS_AUTOCHECKBOX     0x00000003L
#define SS_ICON             0x00000003L
#define WS_BORDER           0x00800000L
#define ES_AUTOHSCROLL      0x0080L
#define WS_MINIMIZEBOX      0x00020000L
#define WS_MAXIMIZEBOX      0x00010000L

#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// Türkçe (Türkiye) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_TRK)
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON_SIZE           ICON                    "size.ico"

IDI_ICON_COLOR          ICON                    "color.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SEARCH_DLG DIALOGEX 0, 0, 357, 142
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Ara (Ctrl+F)"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "ztrass.com",IDC_GRP_ARA,5,5,165,38
    CONTROL         "Ölçü",IDC_CHK_OLCU,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,17,30,10
    PUSHBUTTON      "=",IDC_BTN_OLCU_OP,57,15,18,11
    CONTROL         "Ýç Renk",IDC_CHK_IC_RENK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,28,45,10
    CONTROL         "Tür",IDC_CHK_TUR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,52,35,10
    CONTROL         "Düðüm Sayýsý",IDC_CHK_NODE_COUNT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,68,68,10
    CONTROL         "Alt Yol Sayýsý",IDC_CHK_SUBPATH_COUNT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,82,68,10
    CONTROL         "Kontür Ölçü",IDC_CHK_KONTUR_OLCU,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,94,16,72,10
    CONTROL         "Kontür Renk",IDC_CHK_KONTUR_RENK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,28,72,10
    CONTROL         "Grup Ýçi",IDC_CHK_GRUP_ICI,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,83,52,55,10
    CONTROL         "Aktif Katman",IDC_CHK_ACTIVE_LAYER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,83,68,72,10
    DEFPUSHBUTTON   "Ara",IDC_BTN_ARA,133,25,32,14
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_SEARCH_DLG, DIALOG
    BEGIN
        BOTTOMMARGIN, 135
    END
END
#endif    // APSTUDIO_INVOKED


#endif    // Türkçe (Türkiye) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
