#include "resource.h"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 180, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CorelCPG UI"
FONT 8, "MS Shell Dlg"
BEGIN
PUSHBUTTON "LYCPG", IDC_BUTTON_TOOLS, 10, 10, 50, 14
PUSHBUTTON ">", IDC_BUTTON_MOVE, 65, 10, 20, 14
PUSHBUTTON "X", IDC_BUTTON_CLOSE, 90, 10, 20, 14
COMBOBOX   IDC_COMBO_OPTIONS, 10, 30, 100, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END
