#include "resource.h"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 180, 80
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CorelCPG Plugin UI"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON "Do Action", IDC_BUTTON1, 10,10,60,14
    DEFPUSHBUTTON "Close", IDCANCEL, 80,10,60,14
END
